body{
    background-image: url("background-image.jpg");
}


h1{
    color: black;
}

p{
    text-align: center;
}

img{
    height:150px;
    width: 150px;
    display: block;
    float: left;
    margin: 10px;
    
}
.about{
    background-color: white;
}